.customize-rest-resources-section-notice {
	color: #555;
	background: #fff;
	padding: 12px 15px;
	border-top: 1px solid #ddd;
}

.customize-control-rest_resource summary {
	cursor: pointer;
}
.customize-control-rest_resource summary code {
	-webkit-user-select: none;
	user-select: none;
}
.customize-control-rest_resource textarea {
	width: 100%;
	height: 150px;
	font-family: monospace;
	display: block;
}
.customize-control-rest_resource.syntax-error textarea {
	border-color: red;
}
.customize-control-rest_resource .customize-setting-validation-message.error {
	display: none;
}

.customize-control-rest_resource label {
	display: block;
}
.customize-control-rest_resource select {
	width: 98%;
	line-height: 18px;
	margin: 0;
}

.customize-control-rest_resource .json-parse-error textarea {
	border-color:     red;
	background-color: #ffdddd;
}
